<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A food blog where our family can share recipes" />
    <link rel="image_src" href="/images/food_blog_meta.jpg" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>My Family Food Blog</title>
	</head>
	<body>
		<h1>Mongoose Posts</h1>
		<p>Welcome!</p>
		<a href="/posts/new">Add a new post to our database!</a>
		<a href="/posts">See All Posts</a>
	</body>
</html>
