<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>All Posts | Mongoose Posts</title>
	</head>
	<body>
		<h1>All Posts</h1>
		<a href="/">Go Back Home</a>
		<a href="/posts/new">Add a new post</a>
		<ol>
			<% posts.forEach(function(post) { %>
			<li>
				<a href="/posts/<%= post._id %>">
					<%= post.title %> Released On: <%= post.releaseYear %>
				</a>
			</li>
			<% }); %>
		</ol>
	</body>
</html>
